@charset "utf-8";

BODY {
	margin: 0 auto;
	font: 12px "宋体";
	TEXT-DECORATION: none;
}

TABLE {
	border:0px;
}

TD {
	FONT: 13px "宋体";
}
TR{
	 height: 1px
}
IMG {
	border:0px;
	VERTICAL-ALIGN: bottom;
}

A {
	FONT: 13px "宋体";
	TEXT-DECORATION: none; 
	color: #000000
}

A:link {
	COLOR: #000000;
	TEXT-DECORATION: none
}

A:hover {
	COLOR: #000000
}

.sec_menu {
	BORDER-BOTTOM: #ffffff 1px solid;
	TEXT-ALIGN: right;
	BORDER-LEFT: #ffffff 1px solid;
	BACKGROUND: #d4ecf5;
	OVERFLOW: hidden
}

.menu_title {
	
}

.menu_title SPAN {
	POSITION: relative;
	COLOR: #0f42a6;
	TOP: 2px;
	FONT-WEIGHT: bold;
	LEFT: 8px
}

.menu_title2 {
	
}

.menu_title2 SPAN {
	POSITION: relative;
	COLOR: #cc0000;
	TOP: 2px;
	FONT-WEIGHT: bold;
	LEFT: 8px
}
